:root {
  --title-color-text: #212121;
  --primery-color-text: #757575;
  --color-prime: #000000;
  --color-hover: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Цвет заголовка секции  #757575  */
/* Цвет дополнительного текста #212121 */
/* Цвет фона белый  */

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ----------------------------header------------------ */
.header-nav .header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-prime);
}
.header-web {
  color: #2196f3;
}
.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contact {
  color: var(--primery-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-nav .header-list .current {
  color: var(--color-hover);
}
.header-link {
  color: var(--color-prime);
}
.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--color-hover);
}

/*------------------------ HERO---------------- */
.hero {
  background-color: #2f303a;
}
.hero .hero-title {
  color: white;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero > .button {
  color: white;
  background-color: var(--color-hover);
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.hero > .button:hover,
.hero > .button:focus {
  background-color: #188ce8;
}

/* ---------------------SECTION--------------- */
.section-title {
  color: var(--title-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.work-principles .secondary-title {
  font-weight: 700;
  text-transform: uppercase;
}
.secondary-title {
  color: var(--title-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
}
.section-text {
  color: var(--primery-color-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -------------------- FOOTER------------ */

.footer {
  background: #2f303a;
}

.footer-logo {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ------------Portfolio--------- */

/* ---------FILTER BUTTONS------------ */
.btn {
  background-color: #f5f4fa;
  color: var(--title-color-text);
  font-style: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-hover);
  color: #ffffff;
  font-style: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

/* -----------Галерея----------------- */

.filter-title {
  color: var(--title-color-text);
  font-style: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-text {
  color: var(--primery-color-text);
  font-style: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}
